.ads {
    font-size: 20px;
    background: #898686;
    color: black;
    padding: 25px 25px;
    display: none;
}

.cook {
    font-size: 20px;
    background: #a5b2eb;
    color: black;
    padding: 25px 25px;
    border: 2px;
    display: none;
}